import { createSlice } from "@reduxjs/toolkit";

const initialState = {};

export const {{titleCase name}}Slice = createSlice({
  name: "{{camelCase name}}",
  initialState,
  reducers: {
    setPosts: (state, action) => {
      state.posts = action.payload;
    },
  },
  selectors: {
    getPosts: (state) => {
      return state.posts;
    },
  },
});

export const {{camelCase name}}Actions = {{titleCase name}}Slice.actions;
export const {{camelCase name}}Selectors = {{titleCase name}}Slice.selectors;
export const {{camelCase name}}Reducer = {{titleCase name}}Slice.reducer;