import "./styles.css";
import { {{titleCase name}}PropsType } from "./types";

export const {{titleCase name}} = ({ className }: {{titleCase name}}PropsType) => {
  return (
    <div className={`${className ? `${className} ` : ""}ui-{{name}}`}>{{titleCase name}}</div>
  );
};